body {
  font-family: 'Ubuntu', sans-serif;
}

.heading {
  text-align: center;
}

#projects {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

td, tr {
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}
